Pillow>=10.0.0
pystray>=0.19.5
cryptography>=42.0.0
certifi>=2024.0.0
customtkinter>=5.2.2
pywinstyles>=1.8.0; sys_platform == "win32"
pyobjc-framework-Cocoa>=10.0; sys_platform == "darwin"
pyobjc-framework-Quartz>=10.0; sys_platform == "darwin"
